{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'hackapp/css/index.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script type="text/javascript" src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 pewpew">
    <div class="Sidepanel">
        <a href="{% url 'list'%}"><button class="btn btn-outline-secondary" type="button"  style=" position: relative !important; padding-bottom: 1vh !important;">Назад к списку анкет</button></a>
        <p class="fs-4">Паспортные данные</p>
        <form method="POST">
            {% csrf_token %}
            <input class="form-control"  type="text" id="lname" name="lname" placeholder="Фамилия" id="validationTooltip03" required>
            <input class="form-control" type="text" id="fname" name="fname" placeholder="Имя" required>
            <input class="form-control" type="text" id="otec" name="otec" placeholder="Отчество" required>
            <input class="form-control" type="text" id="iin" name="iin" placeholder="ИИН" required>
            <p class="fs-4">Адресные данные</p>
            <input class="form-control" type="text" id="city" name="city" placeholder="Город" required>
            <input class="form-control" type="text" id="ulica" name="ulica" placeholder="Улица" required>
            <input class="form-control" type="text" id="house" name="house" placeholder="Номер дома" required>
            <input class="form-control" type="text" id="kvnum" name="kvnum" placeholder="Номер квартиры(если есть)">
            <button class="btn btn-outline-primary btn-sm "  type="button" id="choose">Выбрать</button>
        <button class="btn btn-outline-warning btn-sm " type="button" id="otmena">Отмена</button> 
            <p class="fs-4">Дополнительно</p>
            <input class="form-control" type="text" id="kadastr" name="kadastr" placeholder="Кадастровый номер" required>
            <input class="form-control"type="text" id="s" name="s" placeholder="Площадь земельного участка" >
            <textarea class="form-control" name='dopl' id="dopl" placeholder="Дополнительные данные" id="floatingTextarea2" style="height: 100px"></textarea>
            <input type="submit" class="btn btn-outline-success savebtn btn-sm" value="Сохранить анкету" name="save">
            <a href="{% url 'main page'%}"><button class="btn btn-outline-danger btn-sm" type="button" id="delete">Очистить анкету</button></a> 
            <input type="hidden" id="lat" name="lat" style="display: none !important;">
            <input type="hidden" id="lng" name="lng" style="display: none !important;">
        </form>
    </div>
</div>   
        <div class="col-md-9 pewpew pewpew2">
        <div id="map"></div>
    </div>
    <script>
        var marker = false;
    function initMap() {
        var options = {
                zoom: 12,
                center: {
                    lat: 51.160522, lng: 71.470360
                },
                streetViewControl: false, 
                mapTypeId: "hybrid",
                fullscreenControl: false,
                mapTypeControl: false,
            }
        var map = new google.maps.Map(document.getElementById('map'), options)
        var city = document.getElementById('city');
        var ulica = document.getElementById('ulica');
        var house = document.getElementById('house');

        document.getElementById("otmena").onclick = function() {
            document.getElementById('city').readOnly = false;
            city.value="";
            document.getElementById('ulica').readOnly = false;
            ulica.value="";
            document.getElementById('house').readOnly = false;
            house.value="";
        }
        var geocoder = new google.maps.Geocoder();
        google.maps.event.addListener(map, 'click', function(event) {
            if (marker){
                marker.setMap(null);
            }
            marker = new google.maps.Marker({
                position: event.latLng, 
                map: map
            });
        });
        google.maps.event.addListener(map, 'click', function(event) {
        geocoder.geocode({
            'latLng': event.latLng
        }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
            if (results[0]) {
                document.getElementById("lat").setAttribute('value', parseFloat(event.latLng.lat()))
                document.getElementById("lng").setAttribute('value', parseFloat(event.latLng.lng()))
                document.getElementById("choose").onclick = function() {
                for (let i = 0; i < results[0].address_components.length; i++) {
                        if(results[0].address_components[i]["types"][0] == "locality") {  
                            city.value = results[0].address_components[i]["long_name"];
                            document.getElementById('city').readOnly = true;
                        }
                        if(results[0].address_components[i]["types"][0] == "route") { 
                            ulica.value = results[0].address_components[i]["long_name"];
                            document.getElementById('ulica').readOnly = true;
                        }
                        if(results[0].address_components[i]["types"][0] == "street_number") {
                            house.value = results[0].address_components[i]["long_name"];
                            document.getElementById('house').readOnly = true;
                        }
                }}
            }
            }
        });
});
    }
    </script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8gYHQggRVm5HmlLmPy4MQeyQ59B0AVIY&callback=initMap&v=weekly"     
    ></script>
</div>
</div>
</body>
</html>